/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.league-content {
    margin-left: 35%;
}

div>ul>li:hover {
    background-color: cadetblue;
}

.admin-dropdown {
    position: absolute;
    top: 25%;
    font-weight: bold;
}

.align-left {
    text-align: left;
}

.center {
    text-align: center;
}

.bold {
   font-weight: bold;
}


.center-bold {
    text-align: center;
    font-weight: bold;
}

.align-right {
    text-align: right;
}

a {
    color: inherit;
} 

a:hover {
    color: white;
}

img:hover {
    border: 2px solid cornflowerblue
}

tr:hover {
    cursor: pointer;
}

.colored-border {
    border: 2px solid lightsteelblue
}

#game-selection:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.ticket-search-section {
    padding-top: 24px;
}