@model List<BasketballTickets.Models.Team>
@{
    ViewData["Title"] = "Home Page";
}

<br /><br />

<div class="row">

    @if(Model.Count > 0)
    {
        foreach (var team in Model)
        {
            <div class="col-md-2" style="margin: 15px">
                <a asp-action="Index" asp-controller="Games" asp-route-teamId="@team.Id">
                    <img src="@team.LogoPath" width="200" height="150" asp-append-version="true" />
                </a>
            </div>
        }
    } else
    {
            <div class="col-md-3 col-md-offset-4">No teams are available.</div>
    }
</div>
