@model BasketballTickets.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamId" class="control-label">Home Team</label>
                <select asp-for="HomeTeamId" class ="form-control" asp-items="ViewBag.HomeTeamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamId"  class="control-label">Away Team</label>
                <select asp-for="AwayTeamId" class ="form-control" asp-items="ViewBag.AwayTeamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameType" class="control-label">Game Type</label>
                <select asp-for="GameTypeId" class ="form-control" asp-items="ViewBag.GameTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LeagueId" class="control-label">League</label>
                <select asp-for="LeagueId" class ="form-control" asp-items="ViewBag.LeagueId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
